<div style="margin-top: 145px; margin-bottom: 100px">
  <div class="mb-2 mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="forgot">
          <h2 style="margin-bottom: 20px;">Forgot your password?</h2>
          <p style="margin-bottom: 25px;">
            Change your password in three easy steps. This will help you to secure your password!
          </p>
          <ol class="list-unstyled" style="font-size: 14px;">
            <li style="margin-bottom: 6px;">
              <span class="text-primary text-medium">1. </span>Enter your email address below.
            </li>
            <li style="margin-bottom: 6px;">
              <span class="text-primary text-medium">2. </span>A code will sent to your email, enter this code address
              below.
            </li>
            <li style="margin-bottom: 6px;">
              <span class="text-primary text-medium">3. </span>Enter new password and re-password.
            </li>
          </ol>
        </div>

        <form class="card mt-4" asp-action="ChangePass">
          <div class="card-body">
            <div class="form-group">
              <label for="email-for-pass" style="font-size: 15px;">Enter new password </label>
              <input class="form-control" name="password" type="password" id="password" required="">
            </div>
            <div class="form-group">
              <input class="form-control" name="email" type="hidden" id="email-for-pass" value="@ViewBag.email">
            </div>
            <div class="form-group">
              <label for="email-for-pass" style="font-size: 15px;">Enter Re-password.</label>
              <input class="form-control" name="repassword" type="password" id="repassword" required="">
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-success" style="font-size: 15px;">Recovery
              password</button>
          </div>
        </form>
        <script>
          const passwordInput = document.getElementById('password');
          const confirmPasswordInput = document.getElementById('repassword');

          confirmPasswordInput.addEventListener('input', () => {
            const passwordValue = passwordInput.value;
            const confirmPasswordValue = confirmPasswordInput.value;

            if (passwordValue === confirmPasswordValue) {
              confirmPasswordInput.setCustomValidity("");
            }
            else {
              confirmPasswordInput.setCustomValidity("Password not match");
            }
          });
        </script>
      </div>
    </div>
  </div>
</div>