<div class="container" style="margin-top: 150px;margin-bottom: 90px;">
  <div class="main-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm" style="font-size: 14px;">
      <div class="col-md-4 mb-3">
        <div class="card" style="height: 100%;">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center" style="margin-top: 35px;">
              <div class="mt-3">
                <h4>John Doe</h4>
                <p class="text-secondary mb-1">ROLE</p>
                <p class="text-muted font-size-sm">
                  Department
                </p>
                <p class="text-muted font-size-sm">
                  Bay Area, San Francisco, CA
                </p>
                <p class="text-muted font-size-sm">
                  Comment: 200
                </p>                
                <p class="text-muted font-size-sm">
                  Idea: 100
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">Kenneth Valdez</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date of Birth</h6>
              </div>
              <div class="col-sm-9 text-secondary">12/28/2002</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">fip@jukmuh.al</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">(239) 816-9029</div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info" asp-controller="User" asp-action="EditProfile">
                  Edit
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>