@model IdeaWeb.Models.User
<div class="container" style="padding: 150px 0px 90px 0px">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <img src="~/User/assets/images/country-01.jpg" alt="" class="col-lg-5 d-none d-lg-block bg-login-image">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" asp-action="Register">
                            <div class="form-group">
                                <input asp-for="name" class="form-control form-control-user" placeholder="Full Name"
                                    style="margin-bottom:30px" required="">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6" style="margin-bottom:30px">
                                    <input asp-for="phone" class="form-control form-control-user" placeholder="Phone"
                                        required="">
                                </div>
                                <div class="col-sm-6" style="margin-bottom:30px">
                                    <input asp-for="dob" class="form-control  form-control-user" type="date"
                                        required="" />
                                    <span asp-validation-for="dob" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input asp-for="email" class="form-control form-control-user"
                                    placeholder="Gmail Address" type="email" style="margin-bottom:30px" required="">
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0" style="margin-bottom:30px">
                                    <input asp-for="password" type="password" class="form-control form-control-user"
                                        placeholder="Password" required="">
                                </div>
                                <div class="col-sm-6" style="margin-bottom:30px">
                                    <input type="password" name="repassword" class="form-control form-control-user"
                                        placeholder="Repeat Password" required="">
                                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <select asp-for="DepartmentId" class="form-control form-control-user"
                                    asp-items="ViewBag.DepartmentId" style="margin-bottom:30px"></select>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" id="AgreeCheckbox" name="AgreeCheckbox" value="true" />
                                <label class="control-label">I agree with the terms and conditions</label>
                                <span class="text-danger">@ViewBag.ErrorAgreementMessage</span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Register Account"
                                    class="btn btn-primary btn-user btn-block" />
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" asp-area="" asp-controller="User" asp-action="Login">Already have an
                                account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

