<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <br />
    <br />
    <br />
    <br />
    <h1>The terms and conditions of the Idea website</h1>
    <p>These terms and conditions apply whenever you access the Idea website content in any way. In these terms and conditions, when we say Idea website, we mean the Idea website website. By using the website, you are deemed to have accepted these conditions.

Some areas of Idea website website require registration. By completing the initial registration form and by entering your email address and password, you will be deemed to have accepted these terms and conditions. If you register with Idea website, you should read our privacy policy.

Any changes we make to the terms and conditions will be reflected on this page.

 <h2>1. Registration</h2>
When you register, you are registering as a personal user of Idea website. Access to registration areas is via your username and password.

We allow you access to the registration areas of the site on the basis that:

your email address and password are personal to you and may not be used by anyone else to access Idea website
you will not do anything which would assist anyone who is not a registered user to gain access to any registration area of Idea website
you do not maliciously create additional registration accounts for the purpose of abusing the functionality of the site, or other users; nor do you seek to pass yourself off as another user
you comply with these terms and conditions
We reserve the right to remove any material you have submitted to Idea website and cancel your access to the registration areas of Idea website immediately and without giving you any advance notice.

<h2>2. Termination of registration</h2> 
If we wish to bring the agreement to an end, we will do so by emailing you at the address you have registered stating that the agreement has terminated. The agreement will terminate and your email address and password will become invalid on Idea website immediately.

<h2>3. Use of material appearing on Idea Website</h2>
All photos on this website are the property of the photographer. For any photo uses, users must contact the photographer for permission.

Most photographers are happy to help interested parties with reasonable requests. Photographers may be contacted via the links beneath the large photo. Photo licencing is negotiated individually with the photographer.

All photos on this site are licensed to Idea website and are protected under international copyright laws. By uploading photos to Idea website, you grant Idea website a license to display your images on the Idea website website and its related Facebook and Twitter pages and RadarBox24.com website (to which we supply only thumbnails). Under this license, Idea website is not allowed to use your images in any other way. Idea website does not barter, sell, or trade user submitted photos. Idea website does not make any claim of ownership of photos displayed on the website.

For the purposes of this agreement, "material" means material including, without limitation, text and graphics, published on the Idea website network, whether copyright of Idea website or a third party. You are not allowed to download or print the material, or extracts from it, in a systematic or regular manner or otherwise so as to create a database in electronic or paper form comprising all or part of the material appearing on Idea website.

You must not reproduce any part of Idea website or the material or transmit it to or store it in any other website or disseminate any part of the material in any other form, unless we have indicated that you may do so.

 <h2>4. Disclaimer of liability</h2>
To the extent permitted at law, we do not accept any responsibility for any statement in the material. You must not rely on any statement we have published on Idea website without first taking specialist professional advice. Nothing in the material is provided for any specific purpose or at the request of any particular person.

For the avoidance of confusion, we will not be liable for any loss caused as a result of your doing, or not doing, anything as a result of viewing or reading to the material or any part of it (except for death or personal injury attributable to our negligence and to the extent permitted at law).

We give no warranties of any kind concerning Idea website or the material. In particular, we do not warrant that Idea website or any of its contents is virus free. You must take your own precautions in this respect as we accept no responsibility for any infection by virus or other contamination or by anything which has destructive properties.

 <h2>5. Third party material</h2>
You will see advertising material submitted by third parties on Idea Website. Individual advertisers are solely responsible for the content of advertising material which they submit to us, including ensuring that it complies with relevant legislation. We accept no responsibility for the content of advertising material, including, without limitation, any error, omission or inaccuracy therein.

 <h2>6. Submitting graphical material and photography for publication on Idea Website</h2>
When you send a photograph or other graphical material to us you do so in accordance with these Terms of service.

This means that you hereby agree that you have taken the photograph(s) you have sent to us or you have permission from or are authorised by the owner of the photograph(s) to send it (them) to us, and you are granting us a non-exclusive, royalty-free licence to publish the photograph(s) on the Idea website website.

Selected photographs and graphical material will be displayed on the website at the discretion of the editor(s) and you will not be paid, even if your photograph(s) is (are) displayed on the website.

We may remove your photograph(s) or graphics at any time.

Your name will be published alongside your photograph(s) or graphic, but we may edit or delete any comments which you submit along with your photograph(s) or graphic.

IMPORTANT: You or the owner of the photograph(s) still own the copyright in the photograph(s) sent to us and are free to republish the photograph(s) wherever you or the owner wish and in whatever medium you or the owner want.

If you want to submit material to us for publication on Idea website, you may do so on the following terms and conditions:

publication of any material you submit to us will be at our sole discretion. We reserve the right to make additions or deletions to the text or graphics prior to publication, or to refuse publication
you warrant to us that any material you submit to us is your own original work and that you own the copyright and any other relevant rights
you warrant that the material you submit is not obscene, offensive, defamatory of any person or otherwise illegal
you agree not to post material which is deliberately intended to upset other users
you acknowledge that any breach of these warranties may cause us damage or loss and you agree to indemnify us in full and permanently against any third party liabilities, claims, costs, loss or damage we incur as a result of publishing material you submit to us, including consequential losses.
 <h2>7. Submitting material in Idea Website forum</h2>
When you submit a forum post you do so in accordance with these Terms of service.

Idea Website is not responsible for any messages posted. We do not vouch for or warrant the accuracy, completeness or usefulness of any message, and are not responsible for the contents of any message.

The messages express the views of the author of the message, not necessarily the views of Idea website forum. Any user who feels that a posted message is objectionable is encouraged to contact us immediately by email. We have the ability to remove objectionable messages and we will make every effort to do so, within a reasonable time frame, if we determine that removal is necessary.

You agree, through your use of this service, that you will not use Idea website forum to post any material which is knowingly false and/or defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, or otherwise violative of any law. You agree not to post material which is deliberately intended to upset other users.

You agree not to post any copyrighted material unless the copyright is owned by you.

<h2>8. Variations </h2>
These terms may be varied from time to time. Please ensure that you review these terms and conditions regularly as you will be deemed to have accepted a variation if you continue to use the site after it has been posted.

<h2>9. Force majeure</h2>
Although we will do our best to provide constant, uninterrupted access to Idea website, we do not guarantee this. We accept no responsibility or liability for any interruption or delay.

<h2>10. Governing Law & Jurisdiction</h2>
This agreement is governed by Czech law and the parties agree to submit to the exclusive jurisdiction of the Czech courts.</p>
    </div>
</body>
</html>
