<div class="visit-country">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="section-heading" style="margin-bottom: 0">
          <h2>Share and receive everyone's ideas</h2>
          <p>
            Sharing ideas can lead to new and creative solutions to problems.
            This can lead to improved products, services and processes, which
            can benefit everyone involved.
          </p>
        </div>
      </div>
    </div>
    <div class="link">
      <p>Idea | IdeaName</p>
    </div>
    <div class="row">
      <div class="col-lg-10" style="margin: auto">
        <div class="items mb-0 pb-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="item mb-0 pb-0" style="border-bottom: 0px">
                <div class="row">
                  <div class="col-lg-6 col-sm-7">
                    <div class="image">
                      <img src="~/User/assets/images/country-01.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-5">
                    <div class="right-content">
                      <h4 class="text-30">SWITZERLAND</h4>
                      <span class="p-20 text-14">Author</span>
                      <span class="p-20 text-14">Category</span>
                      <span class="p-20 text-14">Deparment</span>
                      <span class="p-20 text-14">Close Date</span>
                    </div>
                  </div>
                </div>
                <hr />
                <p style="text-align: justify">
                  Woox Travel is a professional Bootstrap 5 theme HTML CSS
                  layout for your website. You can use this layout for your
                  commercial work. Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Et quibusdam minima officia molestiae!
                  Laborum, soluta? Cupiditate aperiam et vel, at recusandae
                  totam repellendus ad, sit provident velit impedit ullam
                  officia. Woox Travel is a professional Bootstrap 5 theme HTML
                  CSS layout for your website. You can use this layout for your
                  commercial work. Lorem ipsum dolor sit amet consectetur
                </p>
                <ul class="index-items">
                  <li><i class="fa-regular fa-comment pr-15"></i>Comment</li>
                  <li><i class="fa-regular fa-thumbs-up pr-15"></i>Like</li>
                  <li><i class="fa-regular fa-thumbs-down pr-15"></i>Dislike</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="comments">
          <form action="/form/submit" method="POST">
            <textarea placeholder="Enter your comment" 
            style=" width:100%;height:100px;border-radius:10px;padding:20px;border:#b1b1b1 2px solid;margin-bottom:20px;"></textarea>
            <input
              type="submit"
              class="btn btn-primary btn-user btn-block"
              style="margin-left: auto; margin-right: auto; margin-bottom: 20px;"
              value="Comment"/>
          </form>

          <div class="comment">
            <div class="comment-infor">
              <div class="flex space-between bold" style="align-items: center">
                <div class="flex" style="align-items: center">
                  <div class="avatar" style="margin-right: 10px">
                    <img src="~/User/assets/images/country-01.jpg" alt="" />
                  </div>
                  <p class="text-14">Name</p>
                </div>
                <time class="text-14">28/12/2023</time>
              </div>
            </div>
            <p style="text-align: justify;" class="text-14">
              saepe dignissimos accusamus culpa, maxime nemo iusto autem
              corporis enim asperiores aut numquam? Nihil! Lorem ipsum dolor sit
              amet,
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
