@model IdeaWeb.Models.Idea 
@{ 
  ViewData["Title"] = "Create"; 
}
<div class="pt-120 pb-90">
  
  <div class="row">
    <div class="col-lg-8" style="margin: auto">
      <h1 class="text-30">Create</h1>

      <h4>Idea</h4>
      <hr />
      <div class="row text-14">
        <div class="col-md-8" style="margin: auto">
          <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
              <label asp-for="Name" class="control-label"></label>
              <input asp-for="Name" class="form-control" />
              <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
              <label asp-for="Content" class="control-label"></label>
              <textarea asp-validation-for="Content" class="form-control" rows="5"></textarea>
              <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
              <label asp-for="File" class="control-label"></label>
              <input asp-for="File" class="form-control-file" type="file"/>
              <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <div class="form-group">
              <label asp-for="Image" class="control-label"></label>
              <input asp-for="Image" class="form-control-file" type="file" />
              <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
              <label asp-for="Category" class="control-label"></label>
              <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
              <input type="submit" value="Create" class="btn btn-primary" />
            </div>

          </form>
        </div>
      </div>

      <div>
        <a asp-action="Index">Back to List</a>
      </div>
    </div>
  </div>
</div>

@section Scripts { @{await
Html.RenderPartialAsync("_ValidationScriptsPartial");} }
