@model IdeaWeb.Models.Role

@{
    ViewData["Title"] = "Details";
              var role = Context.Session.GetString("_Role") != null ? Context.Session.GetString("_Role") : null;
  string message = "You do not have permission to access this page";
    if (role != "Admin"){
     <script>
        alert("@message");
        window.location.href = "https://localhost:7188/User/login";
    </script>
  }
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
