@model IdeaWeb.Models.Document

@{
    ViewData["Title"] = "Edit";
              var role = Context.Session.GetString("_Role") != null ? Context.Session.GetString("_Role") : null;
  string message = "You do not have permission to access this page";
    if (role != "Admin"){
     <script>
        alert("@message");
        window.location.href = "https://localhost:7188/User/login";
    </script>
  }
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date_Upload" class="control-label"></label>
                <input asp-for="Date_Upload" class="form-control" />
                <span asp-validation-for="Date_Upload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLink" class="control-label"></label>
                <input asp-for="DataLink" class="form-control" />
                <span asp-validation-for="DataLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeaId" class="control-label"></label>
                <select asp-for="IdeaId" class="form-control" asp-items="ViewBag.IdeaId"></select>
                <span asp-validation-for="IdeaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
